@tailwind base;
@tailwind components;
@tailwind utilities;

p {
    text-indent: 2em;
}

.custom-container {
    margin: 30px auto auto;
    max-width: 70%;
    font-size: 1.2em;
}

ol li {
    list-style-type: decimal;
    list-style-position: inside;
}

.custom-container.scenery img {
    width: 100%;
    height: auto;
}

nav a {
    color: white;
    text-decoration: none;
}